/*--------------------------------------------------------------
  General Variables:
--------------------------------------------------------------*/

:root {
  --font-family-one: "Major Mono Display", monospace;
  --font-family-two: "Share Tech Mono", monospace;
  --black: black;
  --white: white;
  --yellow: yellow;
  --lightgray: lightgray;
  --dark: #040303;
  --shade-one: #121212;
  --darkModeGray: #3c3c49;
  --darkModeDarkGray: #14141e;
  --darkModeBlack: #000000;
  --darkModeBlue: #0033cc;
  --darkModeBrightBlue: #00adff;
  --darkModeTeal: #99e8d6;
  --darkModeLightYellow: #ffffcf;
  --card-height: auto;
  --card-width: calc(var(--card-height) / 1.5);
  --urlImgOne: url("https://drive.google.com/uc?export=view&id=1UusRshf_eLMfJR9byXhe0zKYKjqG2DKu")
    top center;
  --darkModeBlackRGBA: rgba(0, 0, 0, 0.9);
  --darkModePrimary: 0, 0, 0, 0.9;
  --darkModeSecondary: 12, 12, 12, 0.9;
  --cardDarkModeDarkGray: #14141e;
  --serviceIconDarkModeBlue: #0033cc;
  --serviceIconDarkModeBrightBlue: #00adff;
  --serviceIconWhite: white;
  --projectsDarkModeGray: #3c3c49;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: var(--black);
  color: var(--lightgray);
  font-family: var(--font-family-two);
}

a {
  text-decoration: none;
  color: var(--lightgray);
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: var(--darkModeBrightBlue);
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-one);
  font-weight: normal;
  margin: 0 0 20px 0;
  padding: 0;
}

/*
  Preloader:
*/

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: var(--darkModeBlack)
    url("https://drive.google.com/uc?export=view&id=18mhWpS6x8dGin8lOrKE6SXMsJXXhwDSb")
    no-repeat center center;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--darkModeBrightBlue);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--darkModeBlack);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--darkModeBlue);
  color: var(--white);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Light Mode Toggle
--------------------------------------------------------------*/

.light-mode {
  --urlImgOne: url("https://drive.google.com/uc?export=view&id=17OzezLgiizvMHLr0QT52ubpgeOJrGamp")
    top center;
  --lightgray: #000000;
  --dark: lightgray;
  --darkModeBlackRGBA: rgba(211, 211, 211, 0.9);
  --white: #000000;
  --black: white;
  --darkModePrimary: 179, 179, 179, 0.9;
  --darkModeSecondary: 255, 255, 255, 0.9;
  --darkModeGray: white;
  --cardDarkModeDarkGray: lightgray;
  --shade-one: lightgray;
  --serviceIconDarkModeBlue: #00adff;
  --serviceIconDarkModeBrightBlue: #0033cc;
  --darkModeBlack: white;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: var(--urlImgOne);
  background-size: auto;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
  height: auto;
}

#hero .hero-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: var(--lightgray);
  margin-bottom: 50px;
}

#hero h2 span {
  color: var(--darkModeBrightBlue);
  transition: 0.3s;
  border-bottom: 2px solid var(--darkModeBlue);
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: var(--font-family-two);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: var(--darkModeBlue);
  border: 2px solid var(--darkModeBrightBlue);
  color: var(--white);
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid var(--white);
  color: var(--white);
}

#hero .btn-toggle {
  border: 2px solid var(--lightgray);
  color: var(--lightgray);
}

#hero .btn-toggle:hover {
  background: var(--darkModeBlue);
  border: 2px solid var(--darkModeBrightBlue);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: var(--dark);
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
}

@media (max-width: 992px) {
  #header {
    height: 60px;
  }
}

#header.fixed-top {
  background: var(--darkModeBlackRGBA);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: var(--white);
}

#header .logo img {
  height: 50px;
}

.scrolled-offset {
  margin-top: 70px;
}

@media (max-width: 992px) {
  .scrolled-offset {
    margin-top: 60px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: var(--font-family-two);
  font-size: 14px;
  color: var(--white);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--darkModeBrightBlue);
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: var(--darkModeBrightBlue);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 200px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: var(--shade-one);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--darkModeBrightBlue);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--darkModeBlue);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: var(--white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--darkModeBlue);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
section {
  overflow: hidden;
}

.section-title {
  font-size: 32px;
  color: var(--darkModeBrightBlue);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 300px;
  height: 3px;
  background: var(--darkModeBlue);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: var(--urlImgOne);
  background-size: auto;
  padding: 80px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  max-width: 100%;
  height: auto;
}

#about .about-img #about-img-one {
  margin-top: 7px;
  border: 4px solid var(--darkModeDarkGray);
  border-style: inset;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    margin-bottom: 30px;
  }

  #about .about-content {
    margin-left: 10px;
    width: 100%;
    max-width: 100%;
  }
}

#about .about-title {
  color: var(--darkModeBrightBlue);
  font-weight: 700;
  font-size: 28px;
}

#about .about-text {
  line-height: 26px;
  margin-bottom: 15px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

/* Services Section
--------------------------------*/
#services {
  background: linear-gradient(
    rgba(var(--darkModeSecondary)),
    rgba(var(--darkModePrimary)),
    rgba(var(--darkModeSecondary))
  );
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: var(--serviceIconDarkModeBlue);
  border-radius: 50%;
  transition: 0.5s;
  border: 3px solid var(--serviceIconDarkModeBrightBlue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

#services .service-icon i {
  color: var(--serviceIconWhite);
  font-size: 24px;
  line-height: 0;
}

#services .service-item:hover .service-icon {
  background: var(--darkModeGray);
}

#services .service-item:hover .service-icon i {
  color: var(--darkModeBrightBlue);
}

#services .service-title {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
  margin-bottom: 15px;
}

#services .service-title {
  color: var(--darkModeBrightBlue);
}

#services .service-description {
  margin-left: 10px;
  line-height: 24px;
}

/* Project Section
--------------------------------*/

#project {
  background: var(--urlImgOne);
  background-size: auto;
  padding: 80px 0;
}

#project #project-filters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
}

#project #project-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--lightgray);
  transition: all 0.3s ease-in-out;
}

#project #project-filters li:hover,
#project #project-filters li.filter-active {
  color: var(--darkModeBrightBlue);
}

#project #project-filters li:last-child {
  margin-right: 0;
}

#project .project-item {
  margin-bottom: 30px;
}

#project .project-item .project-info {
  opacity: 0;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

#project .project-item .project-info h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--projectsDarkModeGray);
  margin-bottom: 5px;
}

#project .project-item .project-info p {
  color: var(--darkModeBrightBlue);
  font-size: 14px;
  margin-bottom: 0;
}

#project .project-item .project-info .preview-link,
#project .project-item .project-info .details-link {
  position: absolute;
  right: 48px;
  font-size: 28px;
  top: calc(50% - 28px);
  color: var(--projectsDarkModeGray);
}

#project .project-item .project-info .preview-link:hover,
#project .project-item .project-info .details-link:hover {
  color: var(--darkModeBrightBlue);
}

#project .project-item .project-info .details-link {
  right: 15px;
}

#project .project-item:hover .project-info {
  opacity: 1;
}

.project-img {
  border: 4px solid var(--darkModeDarkGray);
  border-style: inset;
}

/* Mentorship Section
--------------------------------*/

#mentorship {
  background: linear-gradient(
    rgba(var(--darkModeSecondary)),
    rgba(var(--darkModePrimary)),
    rgba(var(--darkModeSecondary))
  );
  background-size: cover;
  padding: 80px 0 60px 0;
}

#mentorship #qr-img-one {
  overflow: hidden;
}

#qr-img-one {
  max-width: 50%;
  height: auto;
  border: 4px solid var(--darkModeDarkGray);
  border-style: inset;
}

.qr-container {
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 768px) {
  #mentorship .ladybot-video-container {
    height: auto;
    text-align: center;
  }

  #mentorship .ladybot-video-container video {
    margin-left: 0;
    margin-bottom: 30px;
  }

  #mentorship .mentorship-content {
    width: 100%;
    max-width: 100%;
  }
}

#mentorship .mentorship-text {
  line-height: 26px;
  margin-bottom: 15px;
}

#mentorship .mentorship-text:last-child {
  margin-bottom: 0;
}

video {
  max-width: 100%;
  height: auto;
}

#video-border {
  border: 4px solid var(--darkModeDarkGray);
  border-style: inset;
}

#mentorship-list {
  list-style: none;
}

#mentorship-list .mentorship-item::before {
  content: "";
  background-image: url("https://drive.google.com/uc?export=view&id=1N4E2xLJtD1-c8havTnBFiOCw9T39_ubl");
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}

.ul-header-text {
  font-family: var(--font-family-one);
  color: var(--darkModeBrightBlue);
}

/* Team Section
--------------------------------*/
#team {
  background: var(--urlImgOne);
  background-size: auto;
  padding: 70px 0 70px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: auto;
}

#team .member .pic img {
  max-width: 100%;
  height: auto;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: var(--darkModeBrightBlue);
}

#team .member .social a:hover {
  color: var(--darkModeBlue);
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.pic {
  border: 4px solid var(--darkModeDarkGray);
  border-style: inset;
}

/* Contact Section
--------------------------------*/
#contact {
  background: linear-gradient(
    rgba(var(--darkModeSecondary)),
    rgba(var(--darkModePrimary)),
    rgba(var(--darkModeSecondary))
  );
  background-size: cover;
  padding: 70px 0 70px 0;
}

#contact .info {
  color: var(--lightgray);
}

#contact .info i {
  font-size: 32px;
  color: var(--darkModeBrightBlue);
  float: left;
  line-height: 0;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .social i {
  color: var(--darkModeBrightBlue);
}

#contact .social i:hover {
  color: var(--darkModeBlue);
}

#contact .social i {
  font-size: 30px;
  margin: 0 10px;
}

#contact .email-form input,
#contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .email-form input::focus,
#contact .email-form textarea::focus {
  background-color: var(--darkModeBrightBlue);
}

.form-control {
  border: 4px solid var(--darkModeDarkGray);
  border-style: inset;
}

#contact .email-form .actions button[type="submit"] {
  font-family: var(--font-family-two);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  background: var(--darkModeBlue);
  border: 2px solid var(--darkModeBrightBlue);
  color: var(--white);
}

#contact .email-form .actions button[type="submit"]:hover {
  background: none;
  border: 2px solid var(--white);
  color: var(--white);
}

#center-send-btn {
  text-align: center;
  margin-top: 10px;
}

#calendar-container {
  margin-top: 30px;
  padding: 10px;
  border: 4px solid var(--darkModeDarkGray);
  border-style: inset;
}

@media (max-width: 768px) {
  #contact #email-p {
    word-wrap: break-word;
  }
}

@media (max-width: 425px) {
  #contact .info-item {
    width: fit-content;
    margin: 0 auto;
  }

  #contact #info-container {
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--dark);
  padding: 20px 0;
  color: var(--darkModeBlue);
}

#footer span {
  color: var(--darkModeBrightBlue);
}

#footer .copyright {
  text-align: center;
}

/*------------------------------------------------------------
  Glitch:
------------------------------------------------------------*/

.glitch-wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.glitch {
  color: var(--darkModeBrightBlue);
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 var(--darkModeBlue);
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 var(--yellow);
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(30px, 9999px, 74px, 0);
  }
  4.166666666666666% {
    clip: rect(39px, 9999px, 69px, 0);
  }
  8.333333333333332% {
    clip: rect(18px, 9999px, 44px, 0);
  }
  12.5% {
    clip: rect(9px, 9999px, 124px, 0);
  }
  16.666666666666664% {
    clip: rect(67px, 9999px, 111px, 0);
  }
  20.833333333333336% {
    clip: rect(145px, 9999px, 131px, 0);
  }
  25% {
    clip: rect(143px, 9999px, 147px, 0);
  }
  29.166666666666668% {
    clip: rect(14px, 9999px, 114px, 0);
  }
  33.33333333333333% {
    clip: rect(76px, 9999px, 115px, 0);
  }
  37.5% {
    clip: rect(21px, 9999px, 92px, 0);
  }
  41.66666666666667% {
    clip: rect(36px, 9999px, 127px, 0);
  }
  45.83333333333333% {
    clip: rect(77px, 9999px, 75px, 0);
  }
  50% {
    clip: rect(117px, 9999px, 33px, 0);
  }
  54.166666666666664% {
    clip: rect(95px, 9999px, 3px, 0);
  }
  58.333333333333336% {
    clip: rect(89px, 9999px, 64px, 0);
  }
  62.5% {
    clip: rect(88px, 9999px, 15px, 0);
  }
  66.66666666666666% {
    clip: rect(72px, 9999px, 73px, 0);
  }
  70.83333333333334% {
    clip: rect(40px, 9999px, 148px, 0);
  }
  75% {
    clip: rect(95px, 9999px, 50px, 0);
  }
  79.16666666666666% {
    clip: rect(13px, 9999px, 71px, 0);
  }
  83.33333333333334% {
    clip: rect(136px, 9999px, 30px, 0);
  }
  87.5% {
    clip: rect(82px, 9999px, 61px, 0);
  }
  91.66666666666666% {
    clip: rect(49px, 9999px, 21px, 0);
  }
  95.83333333333334% {
    clip: rect(106px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(130px, 9999px, 93px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(15px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(45px, 9999px, 141px, 0);
  }
  13.333333333333334% {
    clip: rect(50px, 9999px, 112px, 0);
  }
  16.666666666666664% {
    clip: rect(136px, 9999px, 57px, 0);
  }
  20% {
    clip: rect(55px, 9999px, 73px, 0);
  }
  23.333333333333332% {
    clip: rect(9px, 9999px, 139px, 0);
  }
  26.666666666666668% {
    clip: rect(147px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(149px, 9999px, 34px, 0);
  }
  33.33333333333333% {
    clip: rect(90px, 9999px, 54px, 0);
  }
  36.666666666666664% {
    clip: rect(28px, 9999px, 112px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 71px, 0);
  }
  43.333333333333336% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  46.666666666666664% {
    clip: rect(29px, 9999px, 140px, 0);
  }
  50% {
    clip: rect(131px, 9999px, 133px, 0);
  }
  53.333333333333336% {
    clip: rect(100px, 9999px, 85px, 0);
  }
  56.666666666666664% {
    clip: rect(30px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(116px, 9999px, 74px, 0);
  }
  63.33333333333333% {
    clip: rect(107px, 9999px, 148px, 0);
  }
  66.66666666666666% {
    clip: rect(68px, 9999px, 73px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 17px, 0);
  }
  73.33333333333333% {
    clip: rect(58px, 9999px, 8px, 0);
  }
  76.66666666666667% {
    clip: rect(17px, 9999px, 92px, 0);
  }
  80% {
    clip: rect(79px, 9999px, 133px, 0);
  }
  83.33333333333334% {
    clip: rect(52px, 9999px, 135px, 0);
  }
  86.66666666666667% {
    clip: rect(133px, 9999px, 147px, 0);
  }
  90% {
    clip: rect(53px, 9999px, 27px, 0);
  }
  93.33333333333333% {
    clip: rect(3px, 9999px, 50px, 0);
  }
  96.66666666666667% {
    clip: rect(130px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(22px, 9999px, 83px, 0);
  }
}

/*------------------------------------------------------------
  Card:
------------------------------------------------------------*/

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: var(--cardDarkModeDarkGray);
  height: 100%;
  padding: 10px;
  position: relative;
  border-radius: 6px;
  align-items: center;
  color: var(--lightgray);
  cursor: pointer;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    var(--darkModeBrightBlue),
    #3c67e3 43%,
    var(--darkModeBlue)
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    var(--darkModeBrightBlue),
    #3c67e3 43%,
    var(--darkModeBlue)
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
